{% include "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<section id="note">
    <h4>How to use?</h4>
    <p class="info-text">Write a message and send the link to your friend. It can be read only once. If you create an account,
        you will be able to send and receive direct messages. All messages are encrypted!<br><br>
        If you like it, visit my github and leave a star.
        If you have any ideas to improve this site, leave me a message here - my login: banana_paul</p>

    <a href="https://github.com/pawel045"><i class="fa-brands fa-square-github fa-5x"></i>

</section>